
@{
    ViewBag.Title = "Crystal";
}
<h1 align="center"><font color="#af0083">Modalities: Crystal Healing</font></h1>

<font size="4" color="#0b6d1a">
    <p align="justify">
        <b>Crystal Healing?</b><br /><br />
    </p>
    <p align="justify">
        Natural Crystals have innate ability to bring about a balance and heal one self. When we say
        “Heal oneself” it is not a miraculous healing we are talking about, it is a systematic way of utilising
        those healing crystal to align with the main chakras and tap those healing abilities into the
        physical. It is an amazing blend of utilising the crystal to bring about optimum well being.

    </p>
    <br /> <b>Things to know prior to the Session:</b><br /><br />
    <p align="justify">
        A crystal healing practitioner would go through a series of exercise with the client to understand
        the areas that needs to be addressed and work with the client to bring about optimal well being.
        Sessions could either be independent or can be clubbed with Reiki to make it more effective.
        Crystal healing works better in multiple sessions depending on the client requirement, however
        a single session can be effective for someone who wants to “get rid of the stress” instantly.
    </p><p>
        Book your session to experience a magical session!!
    </p>
    <p>
        <br /><br />
        Kind Regards,<br />
        Lakshmi Madhavan<br />
        Independent Practitioner<br />
        Contact:0450 134 303<br />
    </p>
</font>
