
@{
    ViewBag.Title = "Disclaimer";
}

<h1 align="center"><font color="#af0083">Disclaimer for Reiki Distance Healing Website</font></h1>
<p>
    <font size="4" color="#0b6d1a">
        <p>
            The healing services and information offered at this website are not intended as a substitute for professional medical and/or psychiatric treatment and advice.
            MokshReikiHouse is not a medical doctor / clinic  that diagnoses conditions and/or prescribes any medications.
        </p>
        <p>
            We always recommend people to continue to work with and/or consult with a local (physical) medical practitioner you are comfortable with.We recommend that you continue to follow medical treatment as prescribed by your chosen healthcare professional.
            Ultimately you are responsible for your own medical treatment and care, you are the one that makes the decision.
        </p>
        <p>
            Sessions are of independent nature and individual experiences / benefits  are based on each one’s ability to work on themselves. Moksh Reiki House only helps in indentifying and helping to release the  blocks for which one is ready. Each Individual is responsible for their own experiences.
            Many benefits have been experienced by others who have received Energy Healing, but understand that what will be the result, depends upon many variables, the most important aspect being your own inner healer.
         </p>
          <p>  
            The information as articles on this web site is presented for the purpose of educational and free exchange of ideas. It is not intended to diagnose any physical or mental condition or to give advise. It is not intended as a substitute for the advice and treatment of a licensed professional. In the event that you use the information here for your own health, you are prescribing for yourself, which is your constitutional right and for which the author of this site assumes no responsibility or liability of any kind. The author of this website is neither a legal counselor nor a health practitioner, nor a veterinarian, nor a licensed health professional and
            makes no claims in this regard.
        </p>
        <p>
            If you have any questions about this disclaimer, please feel free to @Html.ActionLink("contact me", "Contact", "Home") and ask about it.
        </p> 
    </font>
</p>
