@{
    ViewBag.Title = "Home Page";
}

<h1 align="center"><font color="#af0083">Welcome to Moksh Healing!</font></h1>
<p>
    <font size="4" color="#0b6d1a">
        We are qualified and attuned Healing Professionals with natural flair for Reiki, Pellowah and other healing modalities.
    </font>
</p>
<p>
    <font size="4" color="#0b6d1a">
        Sessions are usually one on one, however our Practitioners also render these services from the comfort of your home through distance healing, making these practice one in sync with today's modernization.
    </font>
</p>
<br/>
<p>
    <font size="4" color="#0b6d1a">
        To know how you can experience Reiki from the comfort of your home go ahead and book our Healing Sessions now!
    </font>
</p><br />
<p>
    <font size="4" color="#0b6d1a">
        You can read all about it from our webpage and call us for any questions.
    </font>
</p><br />
<p>
    <font size="4" color="#ff8b01">
        IMPORTANT: Sessions are appointment based so book yours now! 
    </font>
</p>
<div class="cleaner"></div>
<div class="cleaner"></div>