@{
    ViewBag.Title = "Home Page";
}

<h1 align="center"><font color="#af0083">Welcome to Moksh Healing House!</font></h1>
<p>
    <font size="4" color="#0b6d1a">
        I am qualified Reiki Professional with effective one and one sessions and distance healing sessions. I have a natural flair for Reiki and other healing modalities and have been practicing for the past 14 years.
    </font>
</p>
<p>
    <font size="4" color="#0b6d1a">
        I also render my services from the comfort of your home, making the healing practice one in sync with today’s modernisation.
    </font>
</p>
<br/>
<p>
    <font size="4" color="#0b6d1a">
        To know how you can experience Reiki from the comfort of your home go ahead and book our Distance  Healing Sessions now!
    </font>
</p><br />
<p>
    <font size="4" color="#0b6d1a">
        You can read all about it from our webpage and call us for any questions.
    </font>
</p><br />
<p>
    <font size="4" color="#ff8b01">
        IMPORTANT: Sessions are appointment based so book yours now! 
    </font>
</p>
<div class="cleaner"></div>
<div class="cleaner"></div>