@{
    ViewBag.Title = "Home Page";
}

<h1 align="center"><font color="#af0083">Welcome to My Reiki Distance Healing Website!</font></h1>
<p>
    <font size="4" color="#0b6d1a">
        I am a natural intuitive healer and reiki certified. I have been giving distance healings for more than thirteen years. From my experience, I learned that to be an effective healer of others I must first heal myself. Because of my self-healing efforts, I feel my skill as healer is very effective. Please read the testimonials from my clients.
    </font>
</p>
<p>
    <font size="4" color="#0b6d1a">
        I offer reiki, distance healing and pellwah session. As per your convenience you can book a session but please read about my reiki distance healing services before you book. 
        That page gives detailed information about how sessions are done.
    </font>
</p>
<br/>
<p>
    <font size="4" color="#ff8b01">
        IMPORTANT: Session booking on weekend available only through call appointment. 
    </font>
</p>
<div class="cleaner"></div>
<div class="cleaner"></div>