
@{
    ViewBag.Title = "Pellowah";
}

<h1 align="center"><font color="#af0083">Modalities: Pellowah Healing</font></h1>

<font size="4" color="#0b6d1a">
    <p align="justify">
        <br /><b>Pellowah Healing?</b><br /> <br />
    </p><p align="justify">
        Pellowah is an Angelic word for “radical shift in consciousness”. This form of healing connects
        all 12 strands of DNA ready for activation. It also unblocks and realigns all meridians within the
        body giving a feeling of connection and well being.
    </p><p align="justify">
        Pellowah provides a feeling of well being that seems to last and in fact it will get stronger as
        time goes by. This is because the healing happens from inside out.
    </p><p>
        <br /><b>Things to know prior to the Session:</b><br /><br />
    </p><p align="justify">
        This healing is an Individual experience,the practitioner is a vessel for the transference of the
        energy to facilitate the healing and therefore has no personal input into the healing or the
        experience that you as client will have. The healing will continue for 24 hours from the
        commencement of the session, after that time you will benefit from the ongoing effects of the
        healing. Each of the Pellowah healing sessions are independent of other, a practitioner remains
        silent for the entire time during the session and it is totally an hands off healing technique.
        Sessions will be conducted in a silent room with no music, and each session would last for
        45-60 minutes.
    </p><p align="justify">
        To experience Pellowah book your session now!
    </p><p>

    <p>
        <br /><br />
        Kind Regards,<br />
        Lakshmi Madhavan<br />
        Independent Practitioner<br />
        Contact:0450 134 303<br />
    </p>
</font>
