
@{
    ViewBag.Title = "Reiki";
}

<h1 align="center"><font color="#af0083">Modalities: Reiki Healing</font></h1>

<font size="4" color="#0b6d1a">
    <p align="justify">
        <br /><b>What is Reiki?</b><br /><br />
    </p>
    <p align="justify">
        Reiki is a Universal life force energy which can be used to provide emotional and physical
        healing to the recipient either through hands on / hands off sessions. It is natural, non invasive
        healing therapy that works wonders at all most all levels. Although the main purpose of a Reiki
        Session is to bring about deep relaxation, It is also very effective in reducing pain ( both
        emotional and physical), helps one in identifying their “blocks” which prevents them to step up
        and helps in releasing those blocks thus giving a sense of “freedom” at all levels.
    </p>
    <p align="justify">
        <br /><b> Things to know prior to the Session:</b> <br /><br />
        A Reiki Practitioner is attuned by a Master and so is deemed qualified to act as a medium to
        receive and share the Universal Life force Energy. In most cases practitioner might use hands
        off technique - which means the client will not be touched or asked to remove any clothing
        during the sessions. If a practitioner needs to use hands on technique then the client is
        informed and permission is taken before starting the session. There is no minimum or
        maximum time to allocate for a session, however a 45 minute session is recommended to fully
        experience this Energy.
    </p>
    <p align="justify">
        A Reiki practitioner is a medium to bridge the gap between the recipient and the Universal life
        force energy.
    </p>
    To know More about Reiki or experience how it works, book your session now!
    </p>
    <br />
    
    <p>
        <br /><br />
        Kind Regards,<br />
        Lakshmi Madhavan<br />
        Independent Practitioner<br />
        Contact:0450 134 303<br />
    </p>
</font>

