
@{
    ViewBag.Title = "Testimony";
}
@{ 
    var results = ViewBag.list;
    int cnt = ViewBag.total;
}

<h1 align="center"><font color="#af0083">Moksh House Testimonial!</font></h1>

@for (var i = 0; i < cnt; i++)
{
        <h4 align="center"><font color="#af0083">@results[0][i]</font></h4>
    <p>
        <font size="4" color="#0b6d1a">
            @results[1][i]
        </font>
    </p>        
        @results[2][i]    
}
